In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("reviews.csv")

                                                   text
0        What a piece of shit is was, my name is John .
1     During my holiday in Marmaris we ate here to f...
2     Prices are very affordable. The menu in the ph...
3     Turkey's cheapest artisan restaurant and its f...
4     I don't know what you will look for in terms o...
...                                                 ...
1095  There are so many types of pizza; you are surp...
1096  I tried the smoked ribeye pizza; the dough is ...
1097                       Crowded and expensive place.
1098  No bad. It was very crowded; there was no ligh...
1099  Excellent pizza and fine wine. Both food and b...

[1100 rows x 1 columns]